<% include ../common/header %>

<br>
<div class="container">
    <div class="row">
        <div class="col-6 col-12">
            <div class="text-left">
                <h3><%= admin %></h3>
                <hr>
                  <p>Admin all report summary</p>
                <h4><a href="/walkthrough/report">Administrators</a></h4>
                <hr>
                <p>My report summary</p>
                <h4><a href="/walkthrough/myReport">My Report</a></h4>
                <hr>
                <br>
            </div>
        </div>
        <div class="col-6 col-12">
            <div class="text-right">
                <h3><%= manual %></h3>
                <hr>
                    <p>Manual Report Entry</p>
                <h4><a href="/walkthrough/manual">Maunual Entry</a></h4>
                <hr>
                <br>
            </div>
        </div>
    </div>
</div>
<br>

<% include ../common/footer %>